/* Colors 

blues
dark: #6fa8dc
medium: #9fc5e8
light: #cfe2f3

greens
dark: #93c47d
medium: #b6d7a8
light: #d9ead3

yellows
dark: #ffd966
medium: #ffe599
light: #fff2cc 
*/

/* layout */

* {
  font-family: 'Trebuchet MS', sans-serif;
}

body {
  margin: 0px;
}

h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

p {
  margin-top: 10px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: black;
}

/* Navigation Bar */
header {
  padding: 8px;
  border-bottom: 1px solid black; 
  position:fixed;
  top: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d9ead3;
  z-index: 2;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0px 10px;
  overflow:visible;
}

.nav-bar li {
  display: inline;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.divider {
  padding: 0px 10px;
}

.nav-bar a:hover {
  color: #93c47d;
}

/* General page layout */
.container {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
  overflow: auto;
  top: 40px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.section {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.interactive {
  background-color: white;
  border-bottom: 1px solid black;
}

.data {
  background-color: white;
}

.plain-nav {
  font-size: 16px;
  padding: 0;
  border: none;
  background: none;
}

.plain-nav:hover {
  color: #93c47d;
}

.round-nav {
  border: 1px solid black;
  border-radius: 12px;
  padding: 0.01em 16px;
  background-color: white;
}

.round-nav:hover {
  background-color: #93c47d;
}

.enter-button {
  color: black;
}

select {
  background-color: #93c47d;
  color: black;
  border: 1px solid black;
  border-radius: 12px;
  padding: .01em 16px;
  margin: 1px;
  margin-bottom: 5px;
}

input {
  background-color: #ffd966;
  color: black;
  border: 1px solid black;
  border-radius: 12px;
  padding: 0px 10px;
  margin: 1px;
  margin-bottom: 5px;
}

/* Dropdown menu in navigation bar */
.dropdown-button {
  font-size: 16px;
  padding: 0;
  border: none;
  background: none;
  color: black;
}

.dropdown-button:hover {
  color: #93c47d;
}
  
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  text-align: left;
  padding: 10px;
  border: 10px;
  margin: 10px 0px 0px 0px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 12px;
}

.dropdown-content a {
  margin: 10px;
  line-height: 27px;
}

.dropdown-divider {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.dropdown-content a:hover {
  color: #93c47d;
}

.show {
  display: block;
}

/* Index */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: white;
  cursor: pointer;
  padding: 0px;
  width: 100%;
  text-align: left; 
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.highlight {
  background-color: #6fa8dc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

/* Timer */
.timer-widget {
  text-align: center;
}

.timer input {
  width: 110px;
  text-align: center;
}

#end-button {
  margin-top: 10px;
}

.slider span {
  width: 50px;
}

.timer-toggle-container {
  width: 200px;
  text-align: left;
  margin: 10px auto;
}

/* Stick under Nav-bar */
.sticky {
  position: sticky;
}

/* Vertical Calendar */
.vertical-calendar th {
  border-bottom: 1px solid black;
}

.vertical-calendar th, .vertical-calendar td {
  padding: 0px 10px;
  margin: 0px 10px;
  width: 45px;
}

.no-workout {
  background-color: #9fc5e8;
}

/* About page */
.about-table td {
  padding: 3px;
}

.active {
  text-align: center;
  border: 1px solid black;
  background-color: green;
  width: 160px;
}

.rest {
  text-align: center;
  border: 1px solid black;
  background-color: tomato;
  width: 80px;

}

/* Exercise Table */

#table-exercises {
  margin: 10px;
  width: 90vw;
  max-width: 400px;
}

#table-exercises td {
  padding: 10px;
}

#table-exercises td > span {
  padding: 10px;
  margin: 10px;
  line-height: 27px;
}

#table-exercises td > span.child {
  padding-left: 30px;
}

#table-exercises tbody > tr:nth-child(even) {
  background-color: #cfe2f3;
}

#table-exercises tbody > tr:nth-child(odd) {
  background-color: #9fc5e8;
}

#table-exercises .accordion {
  color: black;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  width: 100%;
  text-align: left; 
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Style the accordion panel. Note: hidden by default */
#table-exercises .panel {
  padding: 0 18px;
  background-color: transparent;
  display: none;
  overflow: hidden;
}

/* Equipement Table */

#table-equipment {
  margin: 10px;
  width: 90vw;
  max-width: 400px;
}

#table-equipment td {
  line-height: 27px;
  padding: 10px;
}

#table-equipment tbody > tr:nth-child(even) {
  background-color: #cfe2f3;
}

#table-equipment tbody > tr:nth-child(odd) {
  background-color: #9fc5e8;
}
/* Muscles Table */

#table-muscles {
  margin: 10px;
  width: 90vw;
  max-width: 400px;
}

#table-muscles td {
  line-height: 27px;
  padding: 10px;
}

#table-muscles tbody > tr:nth-child(even) {
  background-color: #cfe2f3;
}

#table-muscles tbody > tr:nth-child(odd) {
  background-color: #9fc5e8;
}

/* History Table */

.history-calendar {
  text-align: center;
  background-color: #ffe599;
}

#table-history {
  margin: 10px;
  width: 90vw;
  max-width: 400px;
}

#table-history td {
  line-height: 27px;
  padding: 10px;
}

.uniformity {
  display: inline-block;
  width: 84px;
}

#table-history .child {
  padding-left: 30px;
}

#table-history tbody tr:nth-child(even) {
  background-color: #9fc5e8;
}

#table-history tbody tr:nth-child(odd) {
  background-color: #cfe2f3;
}

#table-history .accordion {
  color: black;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  width: 100%;
  text-align: left; 
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Style the accordion panel. Note: hidden by default */
#table-history .panel {
  padding: 0 18px;
  background-color: transparent;
  display: none;
  overflow: hidden;
}

/* Routine page */
.routine-header {
  display: block;
  padding: 0px 10px;
}

#rouine-submit {
  float: right;
  margin: 0px;
}

#add-row, #delete-row {
  float: right;
  padding: 0px 20px;
  margin: 0px 10px;
}

.routine-button {
  background-color: #6fa8dc;
  color: black;
  border: 1px solid black;
  border-radius: 12px;
}

.routine-button:hover {
  background-color: #cfe2f3;
}

/* Removing the up and down arrows in the text box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}

.item1 { grid-area: co; }
.item2 { grid-area: ex; }
.item3 { grid-area: va; }
.item4 { grid-area: an; }
.item5 { grid-area: eq; }
.item6 { grid-area: se; }
.item7 { grid-area: re; }
.item8 { grid-area: lb; }
.item9 { grid-area: no; }

[class^="item"] {
  align-self: center;
  justify-self: center;
}

  .rows {
    padding: 2px;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-areas:
      "co co . . . ."
      "ex ex ex va va va"
      "an an an eq eq eq"
      "se se re re lb lb"
      "no no no no no no";
  }

.metrics {
  width: auto;
}

.notes {
  width: auto;
}

.success {
  text-align: center;
}

.lists {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  background-color: #6fa8dc;
}

/* screen sizes with width less than 768 */
@media only screen and (max-width: 850px) {
  /* For mobile phones: */

}