{% extends "layout.html" %}

{% block title %}
    : About
{% endblock %}

{% block body %}

<div class="container">
    <div class="section">
        <h2>About this app and how to use</h2>
        <p>
            <strong>Please take a minute to read this and better understand how to use this workout app!</strong><br>
            
            If you have questions or need help, email me at cameronjmacLean@gmail.com
        </p>
        <p>Tabata is a 4 minute exercise routine. You exercise for 20 seconds, rest for 10 and you do this cycle 8 times. </p>
        <table class="about-table">
            <tbody>
                <tr>
                    <td>1</td>
                    <td class="active">Active for 20</td>
                    <td class="rest">Rest for 10</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td class="active">Active for 20</td>
                    <td class="rest">Rest for 10</td>
                    <td>1 minute</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td class="active">Active for 20</td>
                    <td class="rest">Rest for 10</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td class="active">Active for 20</td>
                    <td class="rest">Rest for 10</td>
                    <td>2 minutes</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td class="active">Active for 20</td>
                    <td class="rest">Rest for 10</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td class="active">Active for 20</td>
                    <td class="rest">Rest for 10</td>
                    <td>3 minutes</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td class="active">Active for 20</td>
                    <td class="rest">Rest for 10</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td class="active">Active for 20</td>
                    <td class="rest">Rest for 10</td>
                    <td>4 minutes</td>
                </tr>
            </tbody>
        </table>
        <p>
            If this is your first time doing an exercise, awesome! You're in uncharted waters so take the first time doing an exercise to get a solid foundation to work off of and perfect your movement.
        </p>
        <p>
            Start at a reasonable number of reps, a low weight and do not worry about having high or impressive numbers. 
            <b>That doesn't matter.</b>
        </p>
        <p>
            <b style="color: blue;">focus on form and how the whole routine feels</b>
        </p>
        <p>
            What matters most is having a good foundation that you can build on next time. 
            You won't have that foundation if you have to bail before completing the Tabata routine.
        </p>
        <h3>How To Record A Workout</h3>
        <p>
            With your exercise chosen, predetermine the number of reps you will want to complete in each cycle and your goal is to do those amount of reps 8 times.
        </p>
        <p>
            If you start to feel weak on or before set 4 during your reps, drop the total number of reps down by one. For example: 
            <ol>
                <li>You set out to do 5 dips on workout rings.</li>
                <li>You feel weak after completing the 3rd set.</li>
                <li>On your 4th set and going forward, do 4 dips instead of 5.</li>
                <li>You'll record for the routine 3 sets at 5 reps.</li>
            </ol>
            In the example above, if you feel on set 7 that you can go back up to 5 to complete the routine, doing 5 reps on both set 7 and 8, great! Do it! 
            And you would record that routine as 5 sets at 5 reps.  
        </p>
        <h3>Best Practices</h3>
        <ul>
            <li>High Method: Get the heart rate high to see muscle growth and a strong heart for cardio strength</li>
            <li>Low Methdo: Do slow movement and 4-5 reps to focus on improving muscular strength</li>
            <li>Vary the high and low methods - don't just focus on a single method</li>
            <li>In general, Compound movement > Isolated movement</li>
            <li>In general, Posterior focus > Anterior focus</li>
            <li><b>No matter what, never compromise your form</b></li>
        </ul>
        <p>Lastly, this is just one of many effective and healthy ways to maintain being fit and active. I found this program to work for me and it may work for you too! Or it may not.  Give it a try but I am not suggesting this is the *only* way.</p>

        <h3>Links</h3>
        <ul>
            <li><a href="https://jps.biomedcentral.com/articles/10.1007/s12576-019-00676-7">The Journal of Physiological Sciences "Tabata training: one of the most energetically effective high-intensity intermittent training methods"</a></li>
            <li><a href="https://www.menshealth.com/uk/fitness/a27164772/tabata-workout-training-advice/">Ment's Health "Supercharge Your Fitness Levels in Just Four Minutes with Tabata"</a></li>
            <li><a href="https://jackhanrahanfitness.com/blog-archive/">Jack Hanrahan: Blog</a></li>
        </ul>
    </div>
</div>

{% endblock %}

