{% extends "layout.html" %}

{% block title %}
    : Data
{% endblock %}

{% block body %}

<div class="container">
    <div class="section">
        <h2>Some Data</h2>
        <p>Exercise data can be used to analyze muscle composition and prevent injuries by ensuring there is a healthy balance across all muscles in the body.</p>
        <ul><h3>Some Ideas</h3>
            <li>Exercise count by exercise</li>
            <li>Exercise count by exercise and variation</li>
            <li>Anterior vs Posterior ratios</li>
            <li>Upper vs Middle vs Lower</li>
            <li>Exercise output to analyze strength in muscles and potential appropriate ratios</li>
        </ul>
    </div>
</div>

{% endblock %}