{% extends "layout.html" %}

{% block title %}: Exercises{% endblock %}

{% block body %}
    <div class="container">

        <!-- Adding exercises -->
        <div class="section interactive">

            <h2>+ Exercise</h2>
            
            <form method="post">
                <input autocomplete="off" name="exercise" placeholder="Exercise Name" type="text">
                <input autocomplete="off" name="variation" placeholder="Variation" type="text">
                <br>
                <select name="focus">
                    <option disabled selected>Main Focus</option>
                    {% for focus in focuses %}
                        <option value="{{ focus }}">{{ focus }}</option>
                    {% endfor %}
                </select>
                <select name="muscle">
                    <option disabled selected>Main Muscle</option>
                    {% for muscle in muscles %}
                        <option value="{{ muscle.muscle }}">{{ muscle.muscle }}</option>
                    {% endfor %}
                </select>
                <select name="chain">
                    <option disabled selected>Chain</option>
                    {% for chain in chains %}
                        <option value="{{ chain }}">{{ chain }}</option>
                    {% endfor %}
                </select>
                <br>
                <input class="lists" type="submit" value="Add">
            </form>
        </div>

        <!-- Display a list of all exercises -->
        <div class="section data">
            <table id="table-exercises">
                <div class="sticky">  
                    <p class="history-calendar">Exercises</p>
                </div>
                <tbody>
                    <!-- Loop through the exercise database entries to display them in this table -->
                    {% for exercise in exercises %}
                        <tr>
                            <td>
                                <button class="accordion">
                                    <span class="parent">{{ exercise.exercise }} - {{ exercise.variation }}</span><br>
                                </button>
                                <div class="panel">
                                    <span class="child">Muscle: {{ exercise.muscle }} </span><br>
                                    <span class="child">Chain: {{ exercise.chain }}</span>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        var acc = document.getElementsByClassName("accordion");
        var i;
    
        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {    
                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                    } else {
                    panel.style.display = "block";
                    }
            });
        }
    </script>
{% endblock %}