{% extends "layout.html" %}

{% block title %}: History{% endblock %}

{% block body %}

    <div class="container">
        <div class="section data">

            <h2>
                <a style="text-decoration: underline;" href="{{ url_for('history') }}">History</a> | 
                <a href="{{ url_for('calendar') }}">Calendar</a>
            </h2>
            
            <!-- Using collapsible table example here: https://codepen.io/n3k1t/pen/OJMGgyq -->
            
            <div>
                <table id="table-history">
                    <div class="sticky">  
                            <p class="history-calendar">Workouts</p>
                    </div>
                    <tbody>
                        <!-- Loop through the exercise database entries to display them in this table -->
                        {% for routine in routines %}
                            <tr>    
                                <td>
                                    <button class="accordion">
                                        <span class="parent">{{ routine.date }}</span><br>
                                        <span class="parent">{{ routine.exercise }} - {{ routine.variation }} - {{ routine.antirotation }}</span><br>
                                    </button>
                                    <div class="child panel">
                                        <span>Equipment: </span>
                                        <span>{{ routine.equipment }}</span><br>
                                        <span class="uniformity">Sets: </span>
                                        <span>{{ routine.sets }}</span><br>
                                        <span class="uniformity">Reps: </span>
                                        <span>{{ routine.reps }}</span><br>
                                        <span class="uniformity">Lbs: </span>
                                        <span>{{ routine.weight }}</span><br>
                                        <span class="uniformity">Notes: </span>
                                        <span>{{ routine.notes }}</span>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var acc = document.getElementsByClassName("accordion");
        var i;
    
        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {    
                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                    } else {
                    panel.style.display = "block";
                    }
            });
        }
    </script>
{% endblock %}