{% extends "layout.html" %}

{% block title %}
	: Hello!
{% endblock %}

{% block body %}

<div class="container" >
	<div class="section" id="index-welcome">
		<button class="accordion"><h2>Welcome!</h2></button>
		<div class="panel">
			<p>
			This is a workout tracker, based around high-intensity workouts, specifically the <a href="https://jps.biomedcentral.com/articles/10.1007/s12576-019-00676-7"><b><font color="#6fa8dc">Tabata</font></b></a> protocol.<br><br>
			HIIT provides both aerobic and anaerobic conditioning, meaning it improves your cardio and your strength in one workout.
			</p>
		</div>
	</div>

{% if session["user_id"] %}

	<div class="section tab-div">
		<!-- Tab links -->
		<div class="tab">
			<button class="tablinks" onclick="openTab(event, 'index-exercises')">Exercises</button>
			<button class="tablinks" onclick="openTab(event, 'index-chains')">Chains</button>
			<button class="tablinks" onclick="openTab(event, 'index-focus')">Focus</button>
		</div>
		
		<!-- Tab content -->
		<div id="index-exercises" class="tabcontent">
			<ul>Most common exercises used.
				<li>Last 30 days</li>
				<li>Last 90 days</li>
				<li>Last 365 days</li>
			</ul>
		</div>
		
		<div id="index-chains" class="tabcontent">
			<ul>Chain ratios are:
				<li>Posterior</li>
				<li>Anterior</li>
				<li>Compound</li>
			</ul>
		</div>
		
		<div id="index-focus" class="tabcontent">
			<ul>Focus ratios are:
				<li>Lower</li>
				<li>Middle</li>
				<li>Upper</li>
			</ul>
		</div>
	</div>

	<div class="section">
		<table class="vertical-calendar">
			<thead>
				<tr>
				{% for month_year in vertical_calendar %}
					<th>{{ month_year[:3] }}</th>
				{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for day in range(1,32) %}
				<tr>
					{% for month_year, days in vertical_calendar.items() %}
					{% if day in days %}
						{% if days[day] == "" %}
						<td class="no-workout">{{ day }}</td>
						{% else %}
						<td>{{ day }} - {{ days[day] }}</td>
						{% endif %}
					{% else %}
						<td></td>
					{% endif %}
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>


<script type="text/javascript">
	var acc = document.getElementsByClassName("accordion");
	var i;

	for (i = 0; i < acc.length; i++) {
		acc[i].addEventListener("click", function() {
			/* Toggle between adding and removing the "active" class,
			to highlight the button that controls the panel */
			this.classList.toggle("highlight");

			/* Toggle between hiding and showing the active panel */
			var panel = this.nextElementSibling;
			if (panel.style.display === "block") {
				panel.style.display = "none";
				} else {
				panel.style.display = "block";
				}
		});
	}

	function openTab(evt, tabName) {
		// Declare all variables
		var i, tabcontent, tablinks;
	  
		// Get all elements with class="tabcontent" and hide them
		tabcontent = document.getElementsByClassName("tabcontent");
		for (i = 0; i < tabcontent.length; i++) {
		  tabcontent[i].style.display = "none";
		}
	  
		// Get all elements with class="tablinks" and remove the class "active"
		tablinks = document.getElementsByClassName("tablinks");
		for (i = 0; i < tablinks.length; i++) {
		  tablinks[i].className = tablinks[i].className.replace(" active", "");
		}
	  
		// Show the current tab, and add an "active" class to the button that opened the tab
		document.getElementById(tabName).style.display = "block";
		evt.currentTarget.className += " active";
	  }
</script>

{% endif %}

{% endblock %}