{% extends "layout.html" %}

{% block title %}
	: Hello!
{% endblock %}

{% block body %}

<div class="container" >
	<div class="section">
		<button class="accordion"><h2>Welcome!</h2></button>
		<div class="panel">
			<p>
			This is a workout tracker, based around high-intensity workouts, specifically the <a href="https://jps.biomedcentral.com/articles/10.1007/s12576-019-00676-7"><b><font color="#6fa8dc">Tabata</font></b></a> protocol.<br><br>
			HIIT provides both aerobic and anaerobic conditioning, meaning it improves your cardio and your strength in one workout.
			</p>
		</div>
	</div>

{% if session["user_id"] %}

	<div class="section">
		<table class="vertical-calendar">
			<thead>
				<tr>
				{% for month_year in vertical_calendar %}
					<th>{{ month_year[:3] }}</th>
				{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for day in range(1,32) %}
				<tr>
					{% for month_year, days in vertical_calendar.items() %}
					{% if day in days %}
						{% if days[day] == "" %}
						<td style="background-color:tomato;">{{ day }}</td>
						{% else %}
						<td>{{ day }} - {{ days[day] }}</td>
						{% endif %}
					{% else %}
						<td></td>
					{% endif %}
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
	var acc = document.getElementsByClassName("accordion");
	var i;

	for (i = 0; i < acc.length; i++) {
	acc[i].addEventListener("click", function() {
		/* Toggle between adding and removing the "active" class,
		to highlight the button that controls the panel */
		this.classList.toggle("highlight");

		/* Toggle between hiding and showing the active panel */
		var panel = this.nextElementSibling;
		if (panel.style.display === "block") {
		panel.style.display = "none";
		} else {
		panel.style.display = "block";
		}
	});
	}
</script>

{% endif %}

{% endblock %}