<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="/static/favicon.ico" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

        <title>StongBlox{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            {% if session["user_id"] %}
                <div >
                    <div class="header-home">
                        <a href="{{ url_for('index') }}">StrongBlox</a>
                    </div>  
                    <div class="header-menu">
                        <div class="dropdown">
                            <button onclick="workoutDropdown()" class="plain-nav" id="workoutButton">workout data</button>
                            <div id="workoutData" class="dropdown-content">
                                <a href="{{ url_for('exercises') }}">exercises</a>
                                <a href="{{ url_for('equipment') }}">equipment</a>
                                <a href="{{ url_for('muscles') }}">muscles</a>
                            </div>
                        </div>
                        <span class="divider">|</span>
                        <div class="dropdown">
                            <button onclick="accountDropdown()" class="plain-nav" id="accountButton">{{ session["username"] }}</button>
                            <div id="accountData" class="dropdown-content">
                                <a href="{{ url_for('about') }}">about</a>
                                <a href="{{ url_for('account') }}">account</a>
                                <a href="{{ url_for('calendar') }}">calendar</a>
                                <a href="{{ url_for('data') }}">data</a>
                                <a href="{{ url_for('history') }}">history</a>
                                <a href="{{ url_for('logout') }}">logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div >
                    <div class="header-home">
                        <a href="{{ url_for('index') }}">StrongBlox</a>
                    </div>  
                    <div class="header-menu">
                        <a href="{{ url_for('login') }}">login</a> |
                        <a href="{{ url_for('register') }}">register</a>
                    </div>
                </div>
            {% endif %}
        </header>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="container">
                    <div class="section">
                        <ul class=flashes>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        
        {% block body %}
        
        {% endblock %}
        
        {% if session["user_id"] %}
        <footer>
                <nav class="nav-footer">
                    <a class="round-nav" href="{{ url_for('routine') }}">routine</a>
                    <a class="round-nav" href="{{ url_for('timer') }}">timer</a>
                </nav>    
        </footer>
        {% endif %}

        <script type="text/javascript" src="{{ url_for('static', filename = 'dropdowns.js') }}"></script>

    </body>
</html>