<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="/static/favicon.ico" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

        <title>StongBlox{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            {% if session["user_id"] %}
                <nav>
                    <ul class="nav-bar">
                        <li class="nav-left"><a href="{{ url_for('index') }}">StrongBlox</a></li>
                        <li class="nav-left divider">|</li>
                        <li class="nav-left"><a href="{{ url_for('routine') }}">routine</a></li>
                        <li class="nav-left divider">|</li>
                        <li class="nav-left"><a href="{{ url_for('timer') }}">timer</a></li>
                        <li class="nav-right dropdown">
                            <button class="dropdown-button" id="account-button" onclick="menuDropdown()">{{ session["username"] }}</button>
                            <div class="dropdown-content" id="account-menu">
                                <a href="{{ url_for('exercises') }}">exercises</a>
                                <a href="{{ url_for('equipment') }}">equipment</a>
                                <a href="{{ url_for('muscles') }}">muscles</a>
                                <a href="{{ url_for('about') }}">about</a>
                                <a href="{{ url_for('account') }}">account</a>
                                <a href="{{ url_for('calendar') }}">calendar</a>
                                <a href="{{ url_for('data') }}">data</a>
                                <a href="{{ url_for('history') }}">history</a>
                                <a href="{{ url_for('logout') }}">logout</a>
                            </div>
                        </li>
                    </div>
                </nav>
            {% else %}
                <nav>
                    <ul class="nav-bar">
                        <li class="nav-left"><a href="{{ url_for('index') }}">StrongBlox</a></li>
                        <li class="nav-right"><a href="{{ url_for('login') }}">login</a></li>
                        <li class="nav-right divider">|</li>
                        <li class="nav-right"><a href="{{ url_for('register') }}">register</a></li>
                    </div>
                    </ul>
                </nav>
            {% endif %}
        </header>
        
        {% block body %}
        
        {% endblock %}

        <script type="text/javascript" src="{{ url_for('static', filename = 'layout.js') }}"></script>
 
    </body>
</html>