{% extends "layout.html" %}

{% block title %}: Muscles{% endblock %}

{% block body %}
    <div class="container">


        <!-- Adding muscles -->
        <div class="section interactive">

            <h2>+ Muscles</h2>
            
            <form action="/muscles" method="post">
                <input autocomplete="off" autofocus name="muscle" placeholder="Muscle or Muscle Group" type="text">
                <br>
                <input class="lists" type="submit" value="Add">
            </form>

        </div>

        <!-- Display a list of all muscles -->
        <div class="section data">
            <table id="table-muscles">
                <div class="sticky">  
                    <p class="history-calendar">Muscles</p>
                </div>
                <tbody>
                    <!-- Loop through the equipment database entries to display them in this table -->
                    {% for muscle in muscles %}
                        <tr>
                            <td>{{ muscle.muscle }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>  

        </div>
            
    </div>

{% endblock %}