{% extends "layout.html" %}

{% block title %}
	: Hello!
{% endblock %}

{% block body %}

<div class="container" >
	<div class="section">
		<H2>Some notes on the readme file</H2>
		<center>
		<p>
		This is a workout tracker, based around high-intensity workouts, specifically the <a href="https://jps.biomedcentral.com/articles/10.1007/s12576-019-00676-7"><b><font color="#6fa8dc">Tabata</font></b></a> protocol.<br>
		HIIT provides both aerobic and anaerobic conditioning, meaning it improves your cardio and your strength in one workout.
		</p>
	
		<p>The workout dropdown above contains lists of exercises, muscle and equipment that can be added to via forms.</p> 
		
		<p>
		The history page provides a view of all exercises completed and their respective metrics.<br>
		The routine page allows a user to build a list of exercises and track the reps, sets and weights used.<br>
		</p>

    	<H4>Future Stuff</H4>
      
		<p>
		The data stored will eventually be used to understand potential imbalances for anterior/posterior chains and muscle groups.<br>
		It will also include a working calendar (concept below) and an inhouse timer to help with managing workouts.
		</p>
		</center>

	</div>
	<div class="section">
		<div class="calendar">
			<div class="calendar__month">
			<div class="cal-month__previous"><</div>
			<div class="cal-month__current"></div>
			<div class="cal-month__next">></div>
			</div>
			<div class="calendar__head">
			<div class="cal-head__day"></div>
			<div class="cal-head__day"></div>
			<div class="cal-head__day"></div>
			<div class="cal-head__day"></div>
			<div class="cal-head__day"></div>
			<div class="cal-head__day"></div>
			<div class="cal-head__day"></div>
			</div>
			<div class="calendar__body">
			<div class="cal-body__week">
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
			</div>
			<div class="cal-body__week">
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
			</div>
			<div class="cal-body__week">
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
			</div>
			<div class="cal-body__week">
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
			</div>
			<div class="cal-body__week">
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
			</div>
			<div class="cal-body__week">
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
			</div>
			</div>
		</div>
	</div>
</div>
{% endif %}

<script type="text/javascript" src="{{ url_for('static', filename = 'calendar.js') }}"></script>

<script type="text/javascript">
	let addBreak = document.querySelectorAll(".add-break");
	addBreak.forEach(element => element.innerHTML = element.innerHTML.replace(/,/g, "<br>"));        
</script>

{% endblock %}