{% extends "layout.html" %}

{% block title %}
	: Hello!
{% endblock %}

{% block body %}

<div class="container" >
	<div class="section">
		<H2>Some notes on the readme file</H2>
		<center>
		<p>
		This is a workout tracker, based around high-intensity workouts, specifically the <a href="https://jps.biomedcentral.com/articles/10.1007/s12576-019-00676-7"><b><font color="#6fa8dc">Tabata</font></b></a> protocol.<br>
		HIIT provides both aerobic and anaerobic conditioning, meaning it improves your cardio and your strength in one workout.
		</p>
	
		<p>The workout dropdown above contains lists of exercises, muscle and equipment that can be added to via forms.</p> 
		
		<p>
		The history page provides a view of all exercises completed and their respective metrics.<br>
		The routine page allows a user to build a list of exercises and track the reps, sets and weights used.<br>
		</p>

    	<H4>Future Stuff</H4>
      
		<p>
		The data stored will eventually be used to understand potential imbalances for anterior/posterior chains and muscle groups.<br>
		It will also include a working calendar (concept below) and an inhouse timer to help with managing workouts.
		</p>
		</center>

	</div>
	<div class="section">
		<div class="calendar">
			<div class="calendar__month">
			<div class="cal-month__previous"><</div>
			<div class="cal-month__current"></div>
			<div class="cal-month__next">></div>
			</div>
			<div class="calendar__head">
			<div class="cal-head__day"></div>
			<div class="cal-head__day"></div>
			<div class="cal-head__day"></div>
			<div class="cal-head__day"></div>
			<div class="cal-head__day"></div>
			<div class="cal-head__day"></div>
			<div class="cal-head__day"></div>
			</div>
			<div class="calendar__body">
			<div class="cal-body__week">
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
			</div>
			<div class="cal-body__week">
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
			</div>
			<div class="cal-body__week">
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
			</div>
			<div class="cal-body__week">
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
			</div>
			<div class="cal-body__week">
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
			</div>
			<div class="cal-body__week">
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
				<div class="cal-body__day"></div>
			</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename = 'calendar.js') }}"></script>

<script type="text/javascript">
	let addBreak = document.querySelectorAll(".add-break");
	addBreak.forEach(element => element.innerHTML = element.innerHTML.replace(/,/g, "<br>"));        
</script>

{% endblock %}

CSS 

/* Calendar */
.calendar {
  width: 350px;
  margin: 5px auto 0;
  background-color: white;
  color: green;
  font-family: 'Josefin Sans';
}

.calendar__month {
  font-size: 20px;
  font-weight: 800;
  padding: 10px 0;
  width: 100%;
  position: relative;
}

.cal-month__previous,
.cal-month__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
}
  
.cal-month__previous:hover,
.cal-month__next:hover {
  background-color: #42A5F5;
  box-shadow: 0 5px 5px -5px rgba(0,0,0,0.75);
  border-radius: 50%;
  font-weight: 800;
  color: #111;
}

.cal-month__next {
  right: 0;
}

.cal-month__current {
  text-align: center;
  color: red;
}

.cal-head__day,
.cal-body__day {
  /* display: inline-block; */
  width: 50px;
  height: 50px;
  float: left;
  text-align: center;
}

.cal-body__week,
.calendar__head {
  display: block;
  height: 50px;
  width: 350px;
}

.calendar__head {
  line-height: 50px;
  position: relative;
}

.calendar__head:after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: green;
}

.cal-body__day {
  color: blue;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.cal-day__month--current {
  color: orange;
}

.cal-day__day--today {
  font-weight: 800;
  color: #2196f3;
}

.cal-day__day--selected {
  background-color: #6fa8dc;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .75);
  border-radius: 50%;
  color: #111;
}